/* WALLi Black CSS - niko 2013 */

/*MAIN*/

@import url(http://fonts.googleapis.com/css?family=Baumans);
@import url(base.css);

body {
	background: #000;
	font: normal 16px "Baumans";
	color: #ccc;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

input[type="text"],
textarea,
select {
	font: normal 16px "Baumans";
	border: none;
	background-color: #222;
	color: #fff;
	padding: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

::-webkit-scrollbar:hover {
	background: #222;
}

::-webkit-scrollbar-thumb {
	background: #999;
}

/*COPYRIGHT*/

#copyright {
	bottom: 22px;
	right: -2px;
	-webkit-transform: rotate(-90deg) translateY(10px) translateX(6px);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

/*OSD*/

#osd {
	font: normal 30px Baumans;
	/*text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 10px rgba(0, 0, 0, 0.1), 0 8px 9px rgba(0, 0, 0, 0.1);*/
	background-color: rgba(0,0,0,0.4);
	top: 5px;
	left: 70px;
	right: 70px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

#osd sup {
	font: normal 20px Arial;
	margin-top: 7px;
}

/*THUMB BAR*/

#thumbbar h1 {
	font: bold 24px "Baumans";
	color: #eee;
	background: #333;
}

#thumbbar h1:hover {
	background: #666;
	text-shadow: 0 0 10px #fff;
}

#thumbbar button {
	font: normal 18px Baumans;
	color: #ccc;
	background: #444;
	padding: 0 30px 0 14px;
	margin: 0 -9px 4px 0;
}

#thumbbar button:before {
	content: "";
	position: absolute;
	display: block;
	left: -14px;
	top: 0;
	height: 0;
	width: 0;
	border-color: #444 #444 #444 transparent;
	border-style: solid;
	border-width: 14px;
}

#thumbbar button:after {
	content: "";
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	height: 0;
	width: 0;
	border-color: #000 #000 #000 #444;
	border-style: solid;
	border-width: 14px;
}

#thumbbar button:hover {
	background: #666;
	color: #eee;
	text-shadow: 0 0 10px #fff;
}

#thumbbar button:hover:before {
	border-color: #666 #666 #666 transparent;
}

#thumbbar button:hover:after {
	border-color: #000 #000 #000 #666;
}

#thumbbar button#bzip {
	background: #666;
}

#thumbbar button#bzip:hover {
	background: #888;
	color: #fff;
}

#thumbbar button#bzip:before {
	border-color: #666 #666 #666 transparent;
}

#thumbbar button#bzip:hover:before {
	border-color: #888 #888 #888 transparent;
}

#thumbbar button#bzip:after {
	border-color: #000 #000 #000 #666;
}

#thumbbar button#bzip:hover:after {
	border-color: #000 #000 #000 #888;
}

#thumbbar button:first-child {
	padding-left: 10px;
}

#thumbbar button:first-child:before {
	border-width: 0;
}

/* DIAPOS */

li.diapo {
	background-color: #000;
}

li.diapo.loaded {
	color: #999;
}

li.diapo.loaded:hover,
li.diapo.loaded.cursor {
	z-index: 2;
	color: #eee;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.9);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.9);
	box-shadow: 0 0 20px rgba(0,0,0,.9);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
	text-shadow: 0 0 10px #fff;
}

/*SLIDES*/

#view {
	background: #000;
}

#view #slide {
	-webkit-perspective: 1200px;
	/*perspective: 800px;*/
}

#view img.left {
	-webkit-transform: scale(0.1) rotateY(-90deg);
	/*transform: scale(0.1) rotateY(-90deg);*/
}

#view img.right {
	-webkit-transform: scale(0.1) rotateY(90deg);
	/*transform: scale(0.1) rotateY(90deg);*/
}

#view img.center {
	-webkit-transform: scale(1) rotateY(0deg);
	/*transform: scale(1) rotateY(0deg);*/
}

/*COMMENTS*/

#view #comments {
	color: #fff;
	background-color: #000;
}

#coms li {
	background: #222;
	border-radius: 2px;
}

#coms li header {
	color: #888;
	font-size: 12px;
}

#coms li button.del {
	color: #eee;
}

#newcom .unused {
	color: #999;
}

#what {
	margin-top: 5px;
}

#bsend {
	color: #eee;
	background: #666;
	width: 280px;
	font-size: 30px;
	line-height: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#bsend:hover {
	text-shadow: 0 0 10px #fff;
}

#bsend:active {
	margin: 1px 0 0 1px;
}

/*VIEW BAR*/

#viewbar button {
	color: #eee;
}

#viewbar button#bprev {
	position: fixed;
	left: -100px;
	top: 200px;
	width: 160px;
	bottom: 200px;
	opacity: 0;
	background: url(../icons/prev.png) no-repeat 115px center rgba(0,0,0,0.4);
	-webkit-border-radius: 0 190px 190px 0;
	-moz-border-radius: 0 190px 190px 0;
	border-radius: 0 190px 190px 0;
}

#viewbar button#bprev:hover {
	opacity: 1;
}

#viewbar button#bnext {
	position: fixed;
	right: -100px;
	top: 200px;
	width: 160px;
	bottom: 200px;
	opacity: 0;
	background: url(../icons/next.png) no-repeat 15px center rgba(0,0,0,0.4);
	-webkit-border-radius: 190px 0 0 190px;
	-moz-border-radius: 190px 0 0 190px;
	border-radius: 190px 0 0 190px;
}

#viewbar button#bnext:hover {
	opacity: 1;
}

#viewbar button#bcom {
	left: 6px;
	top: 104px;
	width: 48px;
	height: 48px;
	background: url(../icons/comment.png) no-repeat center center;
}

#viewbar button#bcom span {
	position: absolute;
	left: 0;
	top: 4px;
	width: 48px;
	text-align: center;
	font: bold 24px Baumans;
}

#viewbar button#bcom:hover span {
	text-shadow: 0 0 5px #fff;
}

#viewbar button#bplay {
	left: 6px;
	top: 60px;
	width: 48px;
	height: 42px;
	background: url(../icons/play.png) no-repeat center center;
}

#viewbar button#bthumb {
	left: 6px;
	top: 6px;
	width: 48px;
	height: 48px;
	background: url(../icons/thumbs.png) no-repeat center center;
}

/* LOADING */

#mask #loading {
	color: #fff;
	font: normal 32px Baumans;
	text-shadow: 0 0 10px #fff;
}

#mask.active #loading {
	-webkit-animation: roty 4s linear 0s infinite;
	animation: roty 4s linear 0s infinite;
}

@-webkit-keyframes roty {
	0% { -webkit-transform: perspective(0px) rotateY(0deg); }
	50% { -webkit-transform: perspective(0px) rotateY(180deg); }
	100% { -webkit-transform: perspective(0px) rotateY(360deg); }
}

@keyframes roty {
	0% { transform: rotateY(0deg); }
	50% { transform: rotateY(180deg); }
	100% { transform: rotateY(360deg); }
}

/* INTRO */

#intro {
	background-color: rgba(50,50,50,0.6);
}

#intro h1 {
	color: #fff;
}


/* ADMIN BAR */

#blogin  { background: url(../icons/black/login.png) no-repeat center center; }
#blogout { background: url(../icons/black/logout.png) no-repeat center center; }
#bmkdir  { background: url(../icons/black/mkdir.png) no-repeat center center; }
#bupload { background: url(../icons/black/upload.png) no-repeat center center; }
#bflush  { background: url(../icons/black/reset.png) no-repeat center center; }
#bdel    { background: url(../icons/black/del.png) no-repeat center center; }
#bdiag   { background: url(../icons/black/diag.png) no-repeat center center; }