/* WALLI Loulou CSS - niko 2012 */

/*MAIN*/

@import url(http://fonts.googleapis.com/css?family=Satisfy);

* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff url(../images/bg.jpg) repeat;
	font: normal 16px "Satisfy";
	overflow: hidden;
	color: #aaa;
}

a,a:visited {
	text-decoration: none;
}

input[type="text"],
textarea,
select {
	font: normal 16px "Satisfy";
	border: none;
	background-color: transparent;
	width: 380px;
	color: #666;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

ul {
	list-style: none;
}

::-webkit-scrollbar {
	background: transparent;
	width: 6px;
	height: 6px;
	border: none;
}

::-webkit-scrollbar:vertical {
	margin-left: 5px;
}

::-webkit-scrollbar-thumb {
	background: #aaa;
	border: none;
	border-radius: 6px;

}

::-webkit-scrollbar-button {
	display: none;
}

/*COPYRIGHT*/

#copyright {
	position: absolute;
	font: normal 10px Arial,Helvetica;
	z-index: 99;
	color: #000;
	bottom: 22px;
	right: -11px;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
}

#copyright a,
#copyright a:visited {
	color: #aaa;
}

/*LOG*/

#log {
	position: absolute;
	top: 0;
	right: -501px;
	bottom: 0;
	width: 500px;
	z-index: 32000;
	font: normal 12px Monaco,"DejaVu Sans Mono","Lucida Console","Andale Mono",monospace;
	background-color: #000;
	padding-left: 2px;
	color: #fff;
	opacity: 0.8;
	overflow: scroll;
	-webkit-transition: right 0.5s ease;
	-moz-transition: right 0.5s ease;
	transition: right 0.5s ease;
}

#log.active {
	right: 0;
	-webkit-transition: right 0.5s ease;
	-moz-transition: right 0.5s ease;
	transition: right 0.5s ease;
}


#log .debug { color: #777; }
#log .info  { color: #ddd; }
#log .warn  { color: #fc0; }
#log .error { color: #f88; }
#log .timer {
	color: #aaa;
	border-right: 1px solid #aaa;
	margin-right: 3px;
	padding-right: 3px;
}

/*OSD*/

#osd {
	display: hidden;
	position: absolute;
	top: 10px;
	right: 5px;
	height: 40px;
	z-index: 0;
	color: #fff;
	font: bold 30px Satisfy;
	text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 10px rgba(0, 0, 0, 0.1), 0 8px 9px rgba(0, 0, 0, 0.1);
	opacity: 0;
	text-align: right;
	padding: 0 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#osd.active {
	display: block;
	position: absolute;
	z-index: 50;
	opacity: 1;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

/*THUMB*/

#thumb {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	z-index: 0;
	overflow: auto;
	padding: 5px 10px 10px 10px;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

#thumb.active {
	opacity: 1;
	z-index: 1;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

/*THUMB BAR*/

#thumbbar {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 30px;
	padding: 5px;
	box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
	background: rgba(0,0,0,0.1);
	z-index: 20;	
}

#thumbbar h1 {
	font: bold 50px "Satisfy";
	height: 20px;
	color: #fff;
	display: inline;
	margin: 0 15px 0 5px;
	line-height: 60px;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9,
				 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
				 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1),
				 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0,0,0,0.3),
				 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0,0,0,0.25),
				 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0,0,0,0.15);
}

#thumbbar button {
	position: relative;
	display: inline;
	height: 28px;
	font: normal 18px Satisfy;
	color: #888;
	padding: 1px 10px 0 5px;
	margin: 0 4px 2px 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fffc9f), to(#e0e080));
	background: -moz-linear-gradient(top, #fffc9f, #e0e080);
	-moz-box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
	vertical-align: top;
}

#thumbbar button:after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	border-color: #fff #d5d4c6 #d0d080 #fff;
	border-style: solid;
	border-width: 0 8px 8px 0;
	height: 0;
	width: 0;
	display: block;
	-moz-box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
}

#thumbbar button:hover:after {
	border-width: 0 16px 16px 0;
	-webkit-transition: border-width 1s ease-out;
}

#thumbbar button:active {
	margin: 2px 6px 0 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#thumbbar button#bzip {
}

#bzip {
	margin-left: 10px;
}

#bzip.empty,
#bzip.all {
	display: none;
}

/* RAILROAD PATH */

#path {
	display: inline;
}

#thumbbar #path button {
	background: -webkit-gradient(linear, left top, left bottom, from(#d3f2d4), to(#b8c7b9));
	background: -moz-linear-gradient(top,  #d3f2d4,  #b8c7b9);
}

#thumbbar #path button:after {
	border-color: #fff #d5d4c6 #c3e2c4 #fff;
}

/*DIAPOS*/

#diapos {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	padding-top: 10px;
}

#diapos ul {
	/*display: inline;*/
}

li.diapo {
	position: relative;
	display: inline;
	float: left;
	width: 150px;
	height: 172px;
	margin: 8px;
	background-color: #fff;
	overflow: hidden;
	text-align: center;
	vertical-align: bottom;
	padding: 10px 10px 2px 10px;
	-webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,.5);
	-moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,.5);
	box-shadow: 5px 5px 5px 1px rgba(0,0,0,.5);
}

li.diapo img {
	display: block;
}

li.diapo:after {
	content: attr(title);
}

li.diapo.up {
	/*background: transparent url(../icons/up.png) no-repeat center center;
	height: auto;
	padding-top: 150px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;*/
	display: none;
}

li.diapo.loaded {
	color: #666;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

li.diapo.loaded:nth-child(even) {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
}

li.diapo.loaded:nth-child(5n) {
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
}

li.diapo.loaded:nth-child(3n) {
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
}

li.diapo.loaded.up {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

li.diapo.loaded img {
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

li.diapo span.minicom {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 24px;
	height: 21px;
	font-size: 10px;
	line-height: 18px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background: transparent url(../icons/mini-comment.png) no-repeat center center;
}

li.diapo input[type="checkbox"] {
	display: none;
}

li.diapo input[type="checkbox"] + label {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 16px;
	left: 16px;
	width: 16px;
	height: 16px;
	background: transparent url(../icons/uncheck.png) no-repeat center center;
}

li.diapo input[type="checkbox"]:checked + label {
	background: transparent url(../icons/check.png) no-repeat center center;
}

li.diapo.loaded:hover {
	z-index: 10;
	color: #999;
	-webkit-transform: scale(1.2) rotate(0);
	-moz-transform: scale(1.2) rotate(0);
	-webkit-box-shadow: 8px 8px 6px 3px rgba(0,0,0,.9);
	-moz-box-shadow: 8px 8px 6px 3px rgba(0,0,0,.9);
	box-shadow: 8px 8px 6px 3px rgba(0,0,0,.5);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

li.diapo.loaded.up:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/*VIEW*/

#view {
	position: absolute;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	z-index: 0;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

#view.active {
	opacity: 1;
	z-index: 1;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

#view img {
	position: absolute;
	display: block;
	opacity: 0;
	left: 0;
	top: 0;
	width: 1px;
	height: 1px;
	z-index: 0;
}

#view img.animated {
	opacity: 1;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

/*VIEW SLIDER*/

#view #slide {
	position: absolute;	
	left: 60px;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#view.com #slide {
	left: 360px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#view.comfix #slide {
	left: 360px;
}

/*VIEW COMMENTS*/

#view #comments {
	position: absolute;
	top: 0;
	left: -300px;
	bottom: 0;
	width: 300px;
	z-index: 7;
	color: #666;
	overflow: hidden;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #fff url(../images/bg.jpg) repeat;
}

#view.com #comments {
	left: 60px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#view.comfix #comments {
	left: 60px;
}

#coms {
	overflow: auto;
	position: absolute;
	top: 3px;
	bottom: 160px;
	width: 285px;	
	background: #fff url(../images/bg.jpg) repeat;

}

#coms li {
	position: relative;
	color: #aaa74a;
	background-color: #fffc9f;
	padding: 3px;
	margin: 5px 5px 10px 5px;
	-webkit-box-shadow: 1px 1px 2px 1px #666;
	-moz-box-shadow: 1px 1px 2px 1px #666;
	box-shadow: 1px 1px 2px 1px #666;
}

#coms li content {
	color: #555;
}

#coms li button.del {
	position: absolute;
	right: 4px;
	top: 3px;
	font-size: 12px;
	color: #aaa;
}

#coms li:nth-child(odd) {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	color: #a080a0;
	background-color: #F2D3F1;
}

#coms li:nth-child(5n) {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
}

#coms li:nth-child(3n) {
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	color: #80a080;
	background-color: #D3F2D4;
}

#newcom {
	position: absolute;
	bottom: 5px;
	width: 280px;
	height: 140px;
	background-color: #fffc9f;
	padding: 3px;
	-webkit-box-shadow: 2px 2px 2px 1px #666;
	-moz-box-shadow: 2px 2px 2px 1px #666;
	box-shadow: 3px 3px 2px 1px #666;
}

#who, #what {
	width: 280px;
}

#who:focus, #what:focus {
	background-color: #eeeb8e;
}

#newcom .unused {
	color: #999639;
}

#what {
	height: 88px;
	resize: none;
}

#bsend {
	font-size: 32px;
	width: 36px;
	color: #aaa74a;
	text-shadow: 2px 2px 1px #000;
	text-align: right;
	line-height: 20px;
	padding: 0 2px 2px 0;
	margin-left: 242px;
}

#bsend:active {
	padding: 2px 0 0 2px;
	text-shadow: none;
}

/*VIEW BAR*/

#viewbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	bottom: 0;
	z-index: 8;
	background: #fff url(../images/bg.jpg) repeat;
}

#viewbar button {
	position: absolute;
	border: none;
	color: #444;
	background-color: transparent;
	opacity: 0.5;
	border-radius: 3px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#viewbar button:hover {
	opacity: 1;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#viewbar button.active {
	opacity: 1;
}

#bprev {
	left: 6px;
	top: 2px;
	width: 24px;
	height: 48px;
	background: url(../icons/prev.png) no-repeat center center;
}

#bnext {
	left: 32px;
	top: 2px;
	width: 24px;
	height: 48px;
	background: url(../icons/next.png) no-repeat center center;
}

#bcom {
	left: 6px;
	top: 50px;
	width: 48px;
	height: 48px;
	background: url(../icons/comment.png) no-repeat center center;
}

#bcom span {
	font: bold 24px Satisfy;
}

#bplay {
	left: 6px;
	top: 98px;
	width: 48px;
	height: 42px;
	background: url(../icons/play.png) no-repeat center center;
}

#bthumb {
	left: 6px;
	top: 148px;
	width: 48px;
	height: 48px;
	background: url(../icons/thumbs.png) no-repeat center center;
}

/* LOADING */

#mask {
	display: none;
	z-index: 50;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#mask.active {
	display: block;
}

#loading {
	position: absolute;
	bottom: 2px;
	right: 5px;
	color: #fff;
	font: bold 30px Satisfy;
	text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 10px rgba(0, 0, 0, 0.1), 0 8px 9px rgba(0, 0, 0, 0.1);
}

/* INTRO */

#intro {
	z-index: 90;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(200,150,200,0.4);
}

#intro.hide {
	z-index: 0;
	opacity: 0;
	-webkit-transition: all 1.4s linear;
	-moz-transition: all 1.4s linear;
	transition: all 1.4s linear;
}

#intro > div {
	margin: 100px auto 0 auto;
	width: 300px;
	height: 300px;
	vertical-align: middle;
/*	color: #b88;
	background-color: #fcc;
*/	text-align: center;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
/*	text-shadow: 0 0 5px #fff;
*/	border: 3px solid #777;
	color: #fff;
	background-color: #c9c;
	font: normal 16px Satisfy;
	box-shadow: 0 0 10px 10px rgba(255,255,255,0.5);
}

#intro h1 {
	font-size: 60px;
	color: #fff;
}

#intro h2 {
	font-size: 30px;
	margin-bottom: 10px;
}