/* WALLi Loulou CSS - niko 2013 */

/*MAIN*/

@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(base.css);

body {
	background: #fff url(loulou/images/bg.jpg) repeat;
	font: normal 16px "Satisfy";
	color: #aaa;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

input[type="text"],
textarea,
select {
	font: normal 16px "Satisfy";
	border: none;
	background-color: transparent;
	color: #666;
	padding: 0;
}

/*COPYRIGHT*/

#copyright {
	bottom: 22px;
	right: -2px;
	-webkit-transform: rotate(-90deg) translateY(10px) translateX(6px);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

/*OSD*/

#osd {
	font: bold 30px Satisfy;
	text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 10px rgba(0, 0, 0, 0.1), 0 8px 9px rgba(0, 0, 0, 0.1);
}

#osd sup {
	font: normal 16px Arial;
	text-shadow: none;
	color: #fff;
}

#progress.active {
	background-color: rgba(0,0,0,0.3);
}

#progressbar {
	background-color: rgba(0,0,0,0.5);
}


/*THUMB BAR*/

#thumbbar {
	height: 34px;
	-moz-box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
	background: rgba(0,0,0,0.1);
	z-index: 20;
}

#thumbbar h1 {
	font: bold 50px "Satisfy";
	height: 20px;
	color: #fff;
	margin: 0 15px 0 5px;
	line-height: 60px;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9,
				 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
				 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1),
				 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0,0,0,0.3),
				 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0,0,0,0.25),
				 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0,0,0,0.15);
}

#thumbbar button {
	font: normal 18px Satisfy;
	color: #888;
	padding: 1px 10px 0 5px;
	margin: 0 4px 2px 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fffc9f), to(#e0e080));
	background: -moz-linear-gradient(top, #fffc9f, #e0e080);
	background: linear-gradient(top, #fffc9f, #e0e080);
	-moz-box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
}

#thumbbar button:after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	border-color: #fff #d5d4c6 #d0d080 #fff;
	border-style: solid;
	border-width: 0 8px 8px 0;
	height: 0;
	width: 0;
	display: block;
	-moz-box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
}

#thumbbar button:hover:after {
	border-width: 0 16px 16px 0;
	-webkit-transition: border-width 1s ease-out;
}

#thumbbar button:active {
	margin: 2px 6px 0 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#thumbbar button#bzip {
}

#bzip {
	margin-left: 10px;
}

#bzip.empty,
#bzip.all {
	display: none;
}

/* RAILROAD PATH */

#thumbbar #path button {
	background: -webkit-gradient(linear, left top, left bottom, from(#d3f2d4), to(#b8c7b9));
	background: -moz-linear-gradient(top,  #d3f2d4,  #b8c7b9);
}

#thumbbar #path button:after {
	border-color: #fff #d5d4c6 #c3e2c4 #fff;
}

/*DIAPOS*/

#diapos {
	padding: 10px 5px 0 5px;
}

li.diapo {
	height: 172px;
	margin: 8px;
	background-color: #fff;
	padding: 10px 10px 2px 10px;
	-webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,.5);
	-moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,.5);
	box-shadow: 5px 5px 5px 1px rgba(0,0,0,.5);
}

li.diapo.loaded {
	color: #666;
}

li.diapo.loaded:nth-child(even) {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

li.diapo.loaded:nth-child(5n) {
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	transform: rotate(4deg);
}

li.diapo.loaded:nth-child(3n) {
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	transform: rotate(1deg);
}

li.diapo.loaded span.minicom {
	top: 16px;
	right: 16px;
	font-size: 10px;
	line-height: 18px;
	font-weight: bold;
}

li.diapo input[type="checkbox"] {
	display: none;
}

li.diapo input[type="checkbox"] + label {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 16px;
	left: 16px;
	width: 16px;
	height: 16px;
	background: transparent url(../icons/uncheck.png) no-repeat center center;
}

li.diapo input[type="checkbox"]:checked + label {
	background: transparent url(../icons/check.png) no-repeat center center;
}

li.diapo.loaded:hover,
li.diapo.loaded.cursor {
	z-index: 10;
	color: #999;
	-webkit-transform: scale(1.2) rotate(0);
	-moz-transform: scale(1.2) rotate(0);
	transform: scale(1.2) rotate(0);
	-webkit-box-shadow: 8px 8px 6px 3px rgba(0,0,0,.9);
	-moz-box-shadow: 8px 8px 6px 3px rgba(0,0,0,.9);
	box-shadow: 8px 8px 6px 3px rgba(0,0,0,.5);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}


/*COMMENTS*/

#view.com #slide {
	left: 320px;
}

#view.comfix #slide {
	left: 320px;
}

#view.comfix #comments {
	left: 10px;
}

#view #comments {
	color: #666;
	background: #fff url(../images/bg.jpg) repeat;
}

#coms {
	background: #fff url(../images/bg.jpg) repeat;
}

#coms li {
	color: #aaa74a;
	background-color: #fffc9f;
	-webkit-box-shadow: 1px 1px 2px 1px #666;
	-moz-box-shadow: 1px 1px 2px 1px #666;
	box-shadow: 1px 1px 2px 1px #666;
}

#coms li content {
	color: #555;
}

#coms li button.del {
	right: 4px;
	top: 3px;
	color: #aaa;
}

#coms li:nth-child(odd) {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	color: #a080a0;
	background-color: #F2D3F1;
}

#coms li:nth-child(5n) {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
}

#coms li:nth-child(3n) {
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	color: #80a080;
	background-color: #D3F2D4;
}

#newcom {
	background-color: #fffc9f;
	-webkit-box-shadow: 2px 2px 2px 1px #666;
	-moz-box-shadow: 2px 2px 2px 1px #666;
	box-shadow: 3px 3px 2px 1px #666;
}

#who:focus, #what:focus {
	background-color: #eeeb8e;
}

#newcom .unused {
	color: #999639;
}

#bsend {
	font-size: 32px;
	width: 36px;
	color: #aaa74a;
	text-shadow: 2px 2px 1px #000;
	text-align: right;
	line-height: 20px;
	padding: 0 2px 2px 0;
	margin-left: 242px;
}

#bsend:active {
	padding: 2px 0 0 2px;
	text-shadow: none;
}

/*VIEW BAR*/

#viewbar button {
	color: #444;
	opacity: 1;
}

#viewbar button:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}

#viewbar button#bprev {
	position: fixed;
	left: -100px;
	top: 200px;
	width: 160px;
	bottom: 200px;
	opacity: 0;
	background: url(../icons/loulou/arrow_left.png) no-repeat 115px center rgba(0,0,0,0.4);
	-webkit-border-radius: 0 190px 190px 0;
	-moz-border-radius: 0 190px 190px 0;
	border-radius: 0 190px 190px 0;
}

#viewbar button#bprev:hover {
	opacity: 1;
}

#viewbar button#bnext {
	position: fixed;
	right: -100px;
	top: 200px;
	width: 160px;
	bottom: 200px;
	opacity: 0;
	background: url(../icons/loulou/arrow_right.png) no-repeat 15px center rgba(0,0,0,0.4);
	-webkit-border-radius: 190px 0 0 190px;
	-moz-border-radius: 190px 0 0 190px;
	border-radius: 190px 0 0 190px;
}

#viewbar button#bnext:hover {
	opacity: 1;
}

#viewbar button#bcom {
	left: 82px;
	top: 6px;
	width: 32px;
	height: 32px;
	background: url(../icons/loulou/comment_edit.png) no-repeat center center;
}

#viewbar button#bcom span {
	position: absolute;
	left: 0;
	top: 0;
	width: 28px;
	text-align: center;
	font: bold 18px Satisfy;
}

#viewbar button#bcom:hover span {
	text-shadow: 0 0 5px #fff;
}

#viewbar button#bplay {
	left: 46px;
	top: 6px;
	width: 32px;
	height: 32px;
	background: url(../icons/loulou/film.png) no-repeat center center;
}

#viewbar button#bthumb {
	left: 6px;
	top: 6px;
	width: 32px;
	height: 32px;
	background: url(../icons/loulou/small_tiles.png) no-repeat center center;
}

/* LOADING */

#mask #loading {
	color: #fff;
	font: bold 30px Satisfy;
	text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 10px rgba(0, 0, 0, 0.1), 0 8px 9px rgba(0, 0, 0, 0.1);
}

/* INTRO */

#intro {
	background-color: rgba(200,150,200,0.4);
}

#intro.hide {
	-webkit-transition: all 1.4s linear;
	-moz-transition: all 1.4s linear;
	transition: all 1.4s linear;
}

#intro > div {
	margin: 100px auto 0 auto;
	width: 300px;
	height: 300px;
	vertical-align: middle;
	text-align: center;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	border: 3px solid #777;
	color: #fff;
	background-color: #c9c;
	font: normal 16px Satisfy;
	box-shadow: 0 0 10px 10px rgba(255,255,255,0.5);
}

#intro h1 {
	color: #fff;
}

/* ADMIN BAR */

#godbar {
	top: 10px;
	width: 160px;
}

#godbar button {
	float: right;
}

#blogin  { background: url(../icons/login.png) repeat center center; }
#blogout { background: url(../icons/logout.png) repeat center center; }
#bupload { background: url(../icons/upload.png) repeat center center; }
#bmkdir  { background: url(../icons/mkdir.png) repeat center center; }
#bflush  { background: url(../icons/reset.png) repeat center center; }
#bdel    { background: url(../icons/del.png) repeat center center; }
#bdiag   { background: url(../icons/diag.png) repeat center center; }

#diag {
	top: 50px;
	right: 20px;
	font: 16px arial,monaco;
}
