/* WALLi Black CSS - niko 2013 */

/*-webkit-transform: translateZ(-90px) rotateX(65deg);
-moz-transform: translateZ(-90px) rotateX(65deg);
-ms-transform: translateZ(-90px) rotateX(65deg);
-o-transform: translateZ(-90px) rotateX(65deg);
transform: translateZ(-90px) rotateX(65deg);
*//*MAIN*/

@import url(http://fonts.googleapis.com/css?family=Righteous);
@import url(base.css);

body {
	background: #fff;
	font: normal 16px "Righteous";
	color: #ccc;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

input[type="text"],
textarea,
select {
	font: normal 16px "Righteous";
	border: none;
	background-color: #222;
	color: #fff;
	padding: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

::-webkit-scrollbar:hover {
	background: #222;
}

::-webkit-scrollbar-thumb {
	background: #999;
}

/*COPYRIGHT*/

#copyright {
	bottom: 2px;
	right: 2px;
}

#copyright a,
#copyright a:visited {
	color: #aaa;
	text-shadow: #fff 1px 0;
}

/*OSD*/

#osd {
	font: normal 30px Righteous;
	background-color: rgba(0,0,0,0.4);
	top: 5px;
	left: 70px;
	right: 70px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

#osd sup {
	font: normal 20px Arial;
	margin-top: 7px;
}

#progressbar {
	background-color: rgba(0, 0, 0, 0.2);
}

/*THUMB BAR*/

#thumbbar {
	background: #ccc;
	box-shadow: #000 0 0 5px;
	margin-bottom: 5px;
}

#thumbbar h1 {
	font: bold 32px "Righteous";
	line-height: 34px;
	color: rgba(127,127,127,0.8);
	text-shadow: 1px 1px 1px #ccc, 0 0 0 #000;
}

#thumbbar h1:hover {
}

#thumbbar button {
	font: normal 18px Righteous;
	color: #fff;
	background: #aaa;
	box-shadow: #999 4px 4px 0;
	margin: 0 8px 0 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transform: skewX(-15deg);
	-moz-transform: skewX(-15deg);
	transform: skewX(-15deg);
	max-width: 200px;
	text-overflow: ellipsis;
}

#thumbbar button:hover {
	background: #bbb;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#thumbbar button:active {
	box-shadow: none;
	margin: 4px 4px 0 4px;
}

/*#thumbbar button#bzip {
	background: #666;
}

#thumbbar button#bzip:hover {
	background: #888;
	color: #fff;
}

#thumbbar button#bzip:before {
	border-color: #666 #666 #666 transparent;
}

#thumbbar button#bzip:hover:before {
	border-color: #888 #888 #888 transparent;
}

#thumbbar button#bzip:after {
	border-color: #fff #fff #fff #666;
}

#thumbbar button#bzip:hover:after {
	border-color: #fff #fff #fff #888;
}

#thumbbar button:first-child {
	padding-left: 10px;
}

#thumbbar button:first-child:before {
	border-width: 0;
}
*/
/* DIAPOS */

#diapos {
}

li.diapo {
	background-color: #fff;
	box-shadow: #333 1px 1px 8px;
}

li.diapo.loaded {
	color: #999;
}

li.diapo:hover,
li.diapo.cursor {
	z-index: 2;
	color: #eee;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.9);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.9);
	box-shadow: 0 0 20px rgba(0,0,0,.9);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

li.diapo:after {
	content: attr(title);
	display: table-cell;
	vertical-align: middle;
	position: absolute;
	width: 100%;
	/*height: 40px;*/
	/*margin-top: -40px;*/
	bottom: 0;
	background-color: rgba(0,0,0,.6);
	padding: 5px 0;
	color: #fff;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	transform: translateY(100%);
}

li.diapo:hover:after,
li.diapo.cursor:after {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}

li.diapo.loaded span.minicom {
	background: transparent url(boxed/img/mini-comment.png) no-repeat center center;
}

/*SLIDES*/

#view {
	background: #555;
}

/*COMMENTS*/

#view #comments {
	color: #fff;
	background-color: #555;
}

#coms li {
	background: #222;
	border-radius: 2px;
}

#coms li header {
	color: #888;
	font-size: 12px;
}

#coms li button.del {
	color: #eee;
}

#newcom .unused {
	color: #999;
}

#what {
	margin-top: 5px;
}

#bsend {
	color: #eee;
	background: #666;
	width: 280px;
	font-size: 30px;
	line-height: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#bsend:hover {
	text-shadow: 0 0 10px #fff;
}

#bsend:active {
	margin: 1px 0 0 1px;
}

/*VIEW BAR*/

#viewbar button {
	color: #eee;
}

#viewbar button#bprev {
	position: fixed;
	left: -100px;
	top: 200px;
	width: 160px;
	bottom: 200px;
	opacity: 0;
	background: url(boxed/img/prev.png) no-repeat 115px center rgba(0,0,0,0.4);
	-webkit-border-radius: 0 190px 190px 0;
	-moz-border-radius: 0 190px 190px 0;
	border-radius: 0 190px 190px 0;
}

#viewbar button#bprev:hover {
	opacity: 1;
}

#viewbar button#bnext {
	position: fixed;
	right: -100px;
	top: 200px;
	width: 160px;
	bottom: 200px;
	opacity: 0;
	background: url(boxed/img/next.png) no-repeat 15px center rgba(0,0,0,0.4);
	-webkit-border-radius: 190px 0 0 190px;
	-moz-border-radius: 190px 0 0 190px;
	border-radius: 190px 0 0 190px;
}

#viewbar button#bnext:hover {
	opacity: 1;
}

#viewbar button#bcom {
	left: 6px;
	top: 104px;
	width: 48px;
	height: 48px;
	background: url(boxed/img/comment.png) no-repeat center center;
}

#viewbar button#bcom span {
	position: absolute;
	left: 0;
	top: 4px;
	width: 48px;
	text-align: center;
	font: bold 24px Righteous;
}

#viewbar button#bcom:hover span {
	text-shadow: 0 0 5px #fff;
}

#viewbar button#bplay {
	left: 6px;
	top: 60px;
	width: 48px;
	height: 42px;
	background: url(boxed/img/play.png) no-repeat center center;
}

#viewbar button#bthumb {
	left: 6px;
	top: 6px;
	width: 48px;
	height: 48px;
	background: url(boxed/img/thumbs.png) no-repeat center center;
}

/* LOADING */

#mask #loading {
	color: #fff;
	font: normal 32px Righteous;
	text-shadow: 0 0 10px #fff;
}

#mask.active #loading {
	-webkit-animation: roty 4s linear 0s infinite;
	animation: roty 4s linear 0s infinite;
}

@-webkit-keyframes roty {
	0% { -webkit-transform: perspective(0px) rotateY(0deg); }
	50% { -webkit-transform: perspective(0px) rotateY(180deg); }
	100% { -webkit-transform: perspective(0px) rotateY(360deg); }
}

@keyframes roty {
	0% { transform: rotateY(0deg); }
	50% { transform: rotateY(180deg); }
	100% { transform: rotateY(360deg); }
}

/* INTRO */

#intro {
	background-color: rgba(50,50,50,0.6);
}

#intro h1 {
	color: #fff;
}


/* ADMIN BAR */

#godbar {
	top: 8px;
	right: 8px;
	width: 160px;
}

#godbar button {
	float: right;
}

#blogin  { background: url(boxed/img/login.png) no-repeat center center; }
#blogout { background: url(boxed/img/logout.png) no-repeat center center; }
#bmkdir  { background: url(boxed/img/mkdir.png) no-repeat center center; }
#bupload { background: url(boxed/img/upload.png) no-repeat center center; }
#bflush  { background: url(boxed/img/reset.png) no-repeat center center; }
#bdel    { background: url(boxed/img/del.png) no-repeat center center; }
#bdiag   { background: url(boxed/img/diag.png) no-repeat center center; }

#diag {
	background: #ccc;
	color: #777;
	border-radius: 0;
	top: 50px;
	right: 20px;
}

#diag li.ok {
	background-color: transparent;
	background-image: url(boxed/img/ok.png);
}

#diag li.bad {
	background-color: transparent;
	background-image: url(boxed/img/bad.png);
}
